body{
    background-color: #5CDB95;
    
}

h1{
    text-align: center;
    color: #05386B;
}

ul{
    border-top: 1px #05386B solid;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
}
li{
    padding: 10px 20px;
    border-left: 1px #05386B solid;
}