body{
    margin: 0px;
    font-family: sans-serif;
    color: #05386B;
    background-color: forestgreen;
}
h1{
    padding: 10px;
    margin: 0px;
    text-align: center;
}
ul{
    background-color: #05386B;
    padding-left: 0;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
}
li a{
    display: block;
    color: #EDF5E1;
    padding: 10px 30px;
    text-align: center;
    margin: 0;
    text-decoration: none;
}
