body{
    background-color: #228B22;
    margin: 0;
}

h1{
    padding: 10px;
    text-align: center;
    color: #05386B;
    margin: 0;
}

ul{
    border-top: 1px #05386B solid;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
}
li{
    padding: 10px 20px;
    border-left: 1px #05386B solid;
}