#center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#headshot{
    border-radius: 3%;
    margin-right: 20px;
}

#text{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 24pt;
    border-bottom: 2px black solid;
}
p{
    width: 300px;
    font-size: 20pt;
    margin: 0;
}
